/*Limpando as formatações do browser*/
*{
    padding: 0px;
    margin: 0px;
}
body{
    font-size: 2em;
    font-family:Arial, Helvetica, sans-serif ;
    background: rgb(206, 223, 238);
} 

/*Formatações da nav-bar*/
#nav-bar{
    background: rgb(118, 161, 240);
    width: auto;
    padding: 20px;
    text-align: center;
}
#logo, #menu{
    padding: 10px;
}

/*Formatação do conteudo*/
#conteudo{
    width: 1000px;
    margin: auto;
    margin-top: 10px;
}
#area-postagens, #postagens{
    width: 740px;
    float: left;
    margin-bottom: 20px;
}
#postagens{
    background: white;
}
#area-lateral{
    width: 245px;
    float: right;  
}
#noticias{
    background: white;
}
#categoria{
    background: white;
    margin-top: 10px;
}
#rodape{
    padding: 10px;
    text-align: center;
    clear: both;
    background: rgb(162, 174, 185);
}
.area-noticia, .area-categoria{
    padding: 8px;
    width: 220px;
    border: 1px dotted grey;
    margin: auto;
}


/*Formatação de cores*/
.color{
    color: white;
}

/*Formatação de textos*/
#postagens h1{
    padding: 10px;
    color: rgb(167, 100, 100);
}
h3{
    padding: 8px;
    text-align: center;
    font-size: 0.8em;
    background: rgb(156, 156, 156);
}
p, #postagens span{
    font-size: 0.6em;
    padding: 8px;
}


/*Formatação de imagens*/
img{
    padding: 10px;
}

/*Formatação de links */
#nav-bar a{
    padding: 10px;
    color: rgb(45, 34, 54);
    text-decoration: none;
}
#nav-bar a:hover{
    background: rgb(100, 148, 238);
    padding: 10px;
    color: rgb(142, 214, 142);
}

#area-postagens a{
    font-size: 0.6em;
    text-decoration: none;
    margin: 10px;
    color: rgb(100, 148, 238);
}
#area-postagens a:hover{
    color: rgb(80, 136, 240);
}

#categoria a{
    padding: 8px;
    font-size: 0.7em;
    text-decoration: none;
    color: rgb(45, 34, 54);
}
#categoria a:hover{
    padding: 8px;
    background: rgb(240, 224, 224);
    color: rgb(100, 148, 238);
}